/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  background-image: url("../Images/ignasi_pattern_s.png");
}

main {
  margin: 80px 0;
}

header {
  background: #333;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: black;
  text-align: center;
}

h2 {
  font-size: 24px;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 28px;
  font-weight: bolder;
  /* line-height: 50px; */
}

/**
 * CSS Pseudo-Classes
 **/

/* Normal Element Rule */
a {
  font-size: 64px;
  color: blue;
}

/* Hover Pseudo Class:
    Changes the style only when mouse hovers
    over the preceding element.
*/
a:hover {
  background-color: rgb(0, 255, 221);
}

/* Focus Pseudo Class
    Changes the style only when browser
    gives the element focus
    (in this case, after the link is clicked).
*/
a:focus {
  background-color: orange;
}

/* Active Pseudo Class
    Changes the style only while the user
    clicks down on an element. This style ceases
    when the user releases their click.
*/
a:active {
  background-color: black;
}

main {
  margin: 80px 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.bg-primary {
  background-color: rgb(24, 201, 156) !important;
}

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#main-content,
#sidebar {
  width: 100%;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

#sidebar {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  /* div {
    background-color: white;
  } */

  .container {
    width: 100%;
    padding: 20px;
  }
  #main-content,
  #sidebar {
    width: 100%;
  }
  #sidebar {
    margin-top: 40px;
  }
}
